[Unit]
Description=Sample Web Server Test
Requires=network.target
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/bin/java -jar {{ app_dir }}/{{ app_file }}
User=pavlodzhus
Restart=always
RestartSec=3
Environment="PORT={{ app_port }}"
